input {
    margin: 10px 0;
}

#output-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    margin: 10px auto;
    border-radius: 15px;
    border: 1px solid black;
    min-height: 100px;
}

#sortbox {
    border-bottom: 1px solid black;

}

#shufflebox {
    flex: 1;

}